

<style>
    .nowrap {
        white-space: nowrap;
    }
</style>
<MudAppBar Color="Color.Secondary" Elevation="2">
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@DrawerToggle" />
    <MudText Typo="Typo.h6" Class="px-4">Navigation Menu</MudText>
</MudAppBar>
   
<MudNavMenu Color="Color.Secondary">
    <div>
        <MudNavLink Href="/" Match="NavLinkMatch.All">
            <div style="display: flex; align-items: center; gap: 10px;">
                <MudIcon Icon="@Icons.Material.Filled.Home" Size="Size.Large" />
                <span class="nav-menu-text">Home</span>
            </div>
        </MudNavLink>
        <MudNavLink Href="/viewproducts" Match="NavLinkMatch.All">
            <div style="display: flex; align-items: center; gap: 10px;">
                <MudIcon Icon="@Icons.Custom.Uncategorized.Folder" Size="Size.Large" />
                <span class="nav-menu-text">Products</span>
            </div>
        </MudNavLink>
        <MudNavLink Href="/manufacturerdetails" Match="NavLinkMatch.All">
            <div style="display: flex; align-items: center; gap: 10px;">
                <MudIcon Icon="@Icons.Material.Filled.Business" Size="Size.Large" />
                <span class="nav-menu-text">Company</span>
            </div>
        </MudNavLink>
        
        <MudNavLink Href="/technicaldata" Match="NavLinkMatch.All">
            <div style="display: flex; align-items: center; gap: 10px;">
                <MudIcon Icon="@Icons.Material.Filled.Engineering" Size="Size.Large" />
                <span class="nav-menu-text">Technical Data</span>
            </div>
        </MudNavLink>

        <MudNavLink Href="/productdocumentassociation" Match="NavLinkMatch.All">
            <div style="display: flex; align-items: center; gap: 10px;">
                <MudIcon Icon="@Icons.Material.Filled.FileOpen" Size="Size.Large" />
                <span class="nav-menu-text">Documents Management</span>
            </div>
        </MudNavLink>
        @* <MudNavLink Href="/testpage" Match="NavLinkMatch.All">
            <div style="display: flex; align-items: center; gap: 10px;">
                <MudIcon Icon="@Icons.Material.Filled.Build" Size="Size.Large" />
                <span class="nav-menu-text">Test pages</span>
            </div>
        </MudNavLink> *@
    </div>
</MudNavMenu>
    
@code {
    [Parameter]
    public EventCallback DrawerToggle { get; set; }
}

